body {
    background-color: #1d1d1f;
    color: #fff;
    font-family: sans-serif;
    font-size: 2rem;
}

.wrapper {
    padding: 50px;
    min-height: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.link {
    display: block;
    background-color: #555;
    border-radius: 2em;
    padding: 2em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.input {
    display: block;
    width: 100%;
    padding: 2em;
    margin-bottom: 100px;
    font-size: inherit;
}

.button {
    display: block;
    background-color: #555;
    border-radius: 2em;
    padding: 2em;
    text-align: center;
    text-transform: uppercase;
    font-size: inherit;
    color: inherit;
    margin-bottom: 100px;
    width: 100%;
}

/* ======================================================== */

.link:hover {
    background: #a45050;
}

.button:active {
    background: #6272b0;
}

.input:focus {
    box-shadow: 0 0 50px 50px #a45050;
}

.list__item:first-child {
    color: #6272b0;
}

.list__item:last-child {
    color: red;
}



.list__item:nth-child(4) {
    color: aquamarine;
}