body {
    font-size: 25px;
}
* {
    box-sizing: border-box;
}

.block,
.inline {
    background: #d2b2b2;
}

/*-------------------------------------------------- */

.block {
    box-shadow: inset 10px 10px 10px #131212 ;
    border-radius: 30px;
}


.inline


.img