body {
    font-size: 25px;
}
* {
    box-sizing: border-box;
}

.block,
.inline {
    background: #d2b2b2;
}

/*-------------------------------------------------- */

.block {
    opacity: 1;
    visibility: visible;
}


.inline {
    opacity: .5;
}


.img