body {
    /* background: #455696; */
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 15px;
    line-height: 150%;
    color: white;
}

.container {
    max-width: 100px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}
